h2 {
  text-align: center;
}

body {
  background-color: #545F66;
}

.welcome-container {
    text-align: center;
    background-image: url('/img/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 65vh; 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-container h1 {
    margin: 0;
    font-size: 48px;
  }

  .welcome-container p {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .container {
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #829399;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 35vh;
  background-color: #B1CC74; 
  z-index: -1;
}


.content-row {
  display: flex;
  margin-bottom: 20px; 
}

.content-container {
  flex-basis: 30%; 
  box-sizing: border-box;
  padding: 0 10px; 
  object-fit: cover;
}


.content-header {
  text-align: center;
  margin-bottom: 10px;
  position: relative; 
  top: -20px; 
}


.content-card {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.content-card a,
.content-card p {
  max-height: 25em; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; 
  -webkit-box-orient: vertical;
  word-wrap: break-word; 
  object-fit: cover;
}

.content-card h2 {
  font-size: 1.5em;
  margin-top: 25px;

}

.content-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-image-large {
  width: 50%;
  height: 50%;
}



.content-card a {
  color: #007bff;
  text-decoration: none;
  object-fit: cover;
}

.content-card a:hover {
  text-decoration: underline;
}

.content-card p {
  font-size: 1.2em;
  color: #555;
}

.display-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


